
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);

    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}
body{
    background-color: var(--LightGray);
    padding: 10% 30% 5% 28%;
    font-size: 16px;
}
main{
    display: grid;
    grid-template-columns:repeat(1fr);
    /* grid-template-columns: repeat(auto-fill,minmax(10rem,1fr)); */

   
}
.card{
    min-height: 160px;
    padding: 35px;
}
h2{
    margin-bottom: 15px;
    font-size: 1.2em;
    color: var(--Cyan);
}
h3{
    font-size: .9em;
    margin-bottom: 10px;
    color: var(--BrightYellow);

}
p{
    font-size: .8em;
    line-height: 1.5em;
    color:var(--GrayishBlue) ;
}
h4{
    font-size: .8em;
    font-weight: 400;
    margin-bottom: 10px;
}
#sign-up{
    padding: 7px 20% 7px 20%;
    margin-top: 20px;
    width: 100%;
    font-size: .7em;
    border: none;
    background-color: var(--BrightYellow);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.price p span{
    color: #fff;
    font-weight: 400;
    opacity: 80%;
    font-size: .7em;
}
.price p {
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;

}
.card.dark p{
    color: #fff;
}
.las{
    color: #fff;
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 400;
}

.card:nth-child(1){
    grid-column: span 2;
    background-color: #fff;
}

.card:nth-child(2){
background-color: var(--Cyan);
color: #fff;

}

.card:nth-child(3){
background-color: var(--Cyan);
opacity: 70%;
color: #fff;

}
@media only screen and (max-width:375px) {
    main{
        display: block;
    }
   body{
    padding: 10%;

   }
}